.auth_box{
    background-color: map-get($colors , 'secondary_9' );
    border-radius: 20px;
    display: flex;
    padding: 32px;
    justify-content: space-between;
    width: fit-content;
    margin: 0px auto;
    animation: authShowIn .5s forwards;
    opacity: 0;
    transform: scale(.8) translateY(-150px) translateZ(0px);
    max-width: 100%;
    >div{
        max-width: 100%;
    }
    h4,p{
        color: map-get($colors, "secondary_3" );
        max-width: 100%;
    }
    form{
        margin-top: 32px;
        .btn{
            background-color: map-get($colors , 'primary_1' );
            color: map-get($colors , 'secondary_3' );
            margin-top: 32px;
        }
    }

    .qr_code_area{
        margin-left: 64px;
        width: 250px;
        text-align: center;
        p{
            margin-top: 16px;
        }
        h4{
            margin-top: 32px;
        }
    }
    .btn + p{
        margin-top: 20px;
        color: map-get($colors, "secondary_10" );
        // line-height: 1;
        // width: 305px;
    }
}

.auth_greetings{
    text-align: center;
    p{
        margin-top: 16px;
        max-width: 100%;
        width: 400px;
        line-height: 1;
    }
}

@media screen and (max-width:1200px) {
    .auth_box{
        border-radius: 0;
        padding:0rem;
        min-height: 80vh;
        padding-bottom: 32px;
        background-color: unset;
        .qr_code_area{
            display: none;
        }
    }
}
@keyframes authShowIn {

    70%{
        transform: scale(1) translateY(0px) translateZ(0px);
        opacity: 1;
    }
    90%{
        transform: scale(1) translateY(2px) translateZ(0px);
        opacity: 1;
    }

    100%{
        transform: scale(1) translateY(0px) translateZ(0px);
        opacity: 1;
    }
}