@import './vars';
@import '../mixins/index';

// reset 
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: $line-height-default;

  &.signin,
  &.signup {
    height: 100vh;
    display: grid;

    #root {
      display: grid;
    }

    background-image: url('../../globals/images/background_auth.png'),
    linear-gradient(to bottom, map-get($colors, 'primary_1') 50%, map-get($colors, 'secondary_5') 50%);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

h1,
h2,
h3,
h3,
h4,
p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

a {
  color: map-get($colors , 'primary_1');
  text-decoration: none;
  line-height: 1;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
  border: none;
}

[class^="_he"]+[class^="_he"] {
  margin-top: 1.6rem;
}

[class^="_hero_"] {
  @include set-font-family('hero');
}

[class^="_heading_"],
[class^="_hero_"] {
  line-height: $line-height-heading;
}

[class^="_heading_"],
[class^="_body_"] {
  @include set-font-family('default');
}

[class^="_body_"] {
  width: 560px;
  max-width: 100%;
}

@media (max-width:1200px) {

  [class^="_body_"] {
    width: auto;
    max-width: 100%;
  }

  body {

    &.signin,
    &.signup {
      background-image: unset;
      // background-color: map-get($colors, 'secondary_9');
      background-color: map-get($colors , 'primary_2');

      header {
        // background-color: map-get($colors, 'secondary_9');
        background-color: map-get($colors , 'primary_2');
        z-index: 1;

        ._header_wrapper_11xnd_2 {
          justify-content: space-between;
        }
      }
    }
  }
}

@media (max-width:569px) {
  html {
    font-size: 2.5vw;
  }
}