.container {
  @include container;
}

.row {
  @include row;

  >* {
    flex-shrink: 0;
    flex: 0 0 auto;
    margin-top: 0px;
    margin-top: 0px;
    max-width: 100%;
    padding-left: 0.8rem;
    padding-left: calc(1.6rem *.5);
    padding-right: 0.8rem;
    padding-right: calc(1.6rem *.5);
    width: 100%;
  }
}

.col {
  @include cols;
}