.header {
  @extend %flex;
  // height: 36px;
  padding: 20px 0px;
  // background-color: map-get($colors, "secondary_6");
}

.header_wrapper {
  @extend %flex;
  justify-content:center;
}

.header_home {
  background-color: map-get($colors, "primary_1");
  .header_wrapper {
    justify-content:space-between;
  }
}

.header_main_nav{
  @extend %flex;
  align-items: center;

  .select{
    margin-right: 64px;
  }
  a.btn{
    height: 40px;
  }
}

@media screen and(max-width:1200px) {
  .header_main_nav{
    .select{
      margin-right: 0px;
    }
  }
}
@media screen and (min-width:1200px) {
  .nav_auth{
    position: absolute;
    right: 16px;
  }
}
