.section_hero {
  background-color: map-get($colors, "primary_1");
  height: 671px;
  position: relative;
  top: -36px;
  z-index: -1;
  padding-top: 105px;

  [class^="_hero_"] {
    line-height: $line-height-default;
    color: map-get($colors, "primary_4");
    width: 645px;
    max-width: 100%;
  }
}